@charset "UTF-8";

body{
    display: grid;
    height: 100vh;
    gap: 2px;
    grid-template-columns: 1fr 1fr 0.5fr 1fr;
    grid-template-areas: 
    "heat heat suspect suspect"
    "insideman  rififi  rififi  bankjob";
    
}

#bankjob{
    grid-area: bankjob;
    background: url(Images/bankjob.jpg);
    background-size: cover;
}

#heat{
    grid-area: heat;
    background: url(Images/heat.jpg);
    background-size: cover;
}

#insideman{
    grid-area: insideman;
    background: url(Images/insideman.jpg);
    background-size: cover;
    display: flex;
    justify-content: end;
    align-items: end;
}

#rififi{
    grid-area: rififi;
    background: url(Images/rififi.jpg);
    background-size: cover;
}

#usual_suspects{
    grid-area: suspect;
    background: url(Images/usualsuspects.jpg);
    background-size: cover;
    display: flex;
    justify-content: end;
    align-items: end;

}

section{
    color: white;
    font-weight: bold;
    font-size: 20px;
}