@charset "UTF-8";

/* Fråga 9 */
/* #onsdag{ 
    font-weight: bold;
    font-size: 300px;
 } */

 /* Fråga 10 */
/*  .kursiv{
    font-style:italic;
  } */

  /* Fråga 12 */
  
  /* #typsnitt{
    font-family: Arial, Georgia, 'Times New Roman', Times, serif
  } */

  /* Fråga 13 */

  /* h2{
    color: green;
  } */

  /* Fråga 14 */

  /* h2{
    font-size: 40px;
  } */

  /* fråga 15 */
  /* body{
    background: #993;
  } */

  /* Fråga 16 */
/* 
  body{
    background: url(images/11103-juni.png);
    background-size: cover;
  } */

  /* Fråga 18 */

  /* nav a{
    text-decoration: none;
  } */

  /* #mainNav{
    border: 4px solid, red;
    margin: 20px;
    padding-bottom: 10px;
  } */

  /* Fråga 25 */
  
  /* img{
    width: 100px;
  } */

  /* Fråga 30 */
  
  article{
    border: 4px solid red;
    display: flex;
  }

  section{
    border: 4px solid blue;
    flex: 1;
  }

  #last{
    flex: 2;
  }

