@charset "UTF-8";

img{
    width: 100%;
}

footer{
    background-color: darkred;
    color: white;
}

@media (min-width: 700px) {
    
    .recipe-content {
        display: flex;
        gap: 40px;
    }
}
