@charset "UTF-8";

body{
    margin: 0;
}

header{
    background: #333;
    color: white;
    text-align: center;
    padding: 30px;
}

h1{
    color: #FC3;
    margin: 0;
    font-weight: normal;
}

nav{
    background: #555;
}

nav a{
    background: #444;
    color: #FC3; 
    text-decoration: none;
    padding: 10px;
    display: inline-flex;
    align-items: center;
}

nav a:hover{
    background: #555;
}

h3{
    margin: 0;
}

article, aside{
    padding: 10px 
}

article{
    flex: 2;
    background: #fff
}

aside{
    flex: 1;
}

#venedig{
    background: url('images/venedig.jpg');
    margin-bottom: 10px;
}

#sangimignano{
    background: url('images/sangimignano.jpg');
}

aside div{
    padding: 100px 10px 10px 10px;
    background-size: cover;
}

aside div section{
    background: rgba(0,0,0,0.5);
    color: white;
    padding: 10px;
}

aside div section h5, aside div section p{
    margin: 0;
}

main{
    display: flex;
}

.pasta{
    font-size: 10px;
    font-family: verdana;
}

.pasta span{
    border: 2px solid #FC3;
    padding: 4px;
    border-radius: 3px;
}

footer{
    display: flex;
    background: #333; 
    color: white;
}

footer section{
    flex: 1;
    padding: 10px;
}

footer section p{
    margin-top: 0;
}

h4{
    color: #FC3;
    margin-bottom: 0;
}

table{
    border: 2px solid #333;
    border-collapse: collapse;
    box-shadow: 10px 10px 10px #333;
    width: 300px;
}

td{
    /* border: 2px solid red; */
    padding: 8px;
}

td:first-child{
    background: darkgrey;
    color: white;
}

tr:nth-child(even){
    background: lightgrey;
}
