@charset "UTF-8";

header, nav, main, footer{
    border: 4px solid darkred;
    border-radius: 8px;
    margin: 4px;
}

body{
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
        "header header"
        "nav    main"
        "foot   foot";
}

header{
    grid-area: header;
}

nav{
    grid-area: nav;
}

main{
    grid-area: main;
}

footer{
    grid-area: foot;
}