@charset "UTF-8";

header{
    display: flex;
    justify-content: end;
    margin-bottom: 5px;
}

header a{
    border: 5px solid;
    text-decoration: none;
    border-color: black;
    padding: 5px;
    border-radius: 5px;
    margin: 0 2px;
}

.link-a{
    color: #4BC7B2;
    font-size: 35px;
    font-weight: bold;
}

.link-c{
    color: #AC72E1;
    font-size: 35px;
    font-weight: bold;
}

.link-e{
    color: #EC486E;
    font-size: 35px;
    font-weight: bold;
}

.b{
    color: #4BC7B2;
}

.d{
    color: #AC72E1;
}

.f{
    color: #EC486E;
}

section{
    height: 100vh;
    font-size: 28px;
    font-weight: normal;
    border: solid 5px;
    border-radius: 5px;
    margin-bottom: 5px;
}

img{
    width: 35%;
    padding-left: 10px;
}